<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
      <strong>SmartTrophies</strong> by
      <a
        href="https://github.com/rafaelrpbelo"
        target="_blank"
        rel="noopener">Rafael Belo</a>.
      </p>
      <span class="icon">
        <a
          href="https://github.com/rafaelrpbelo"
          target="_blank"
          rel="noopener">
          <i class="fa fa-github fa-lg"></i>
        </a>
      </span>
    </div>
  </footer>
</template>
