<template>
  <header class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          SmartTrophies
        </h1>
        <h2 class="subtitle">
          Brand new Trophy System
        </h2>
      </div>
    </div>
  </header>
</template>
