<template>
  <div class="container">
    <div class="columns">
      <UserPanel
        :users="users"
        @selectUser="selectUser"
        @addUser="addUser" />

      <main class="column is-two-quarters">
        <div class="field is-grouped">
          <p class="control">
          <a
            @click="collectCoin"
            class="button is-link is-warning is-large"
            :disabled="!selectedUser">
            Get a coin! (:
          </a>
          </p>
          <p class="control">
          <a
            @click='die'
            class="button is-danger is-large"
            :disabled="!selectedUser">
            Die :(
          </a>
          </p>
        </div>

        <MonsterPanel
          :user="selectedUser"
          :monsters="monsters"
          @addMonster="addMonster"
          @killMonster="killMonster" />
      </main>

      <aside class="is-one-quarter">
        <div v-if="shouldDisplayTrophies" class="table-container">
          <h3 class="is-size-3">Your last trophies</h3>
          <TrophiesList :trophies="selectedUser.trophies" />
        </div>
        <div v-else>
          <div class="tile">
            <h3 class="is-size-3">You don't have trophies yet! :(</h3>
          </div>
        </div>
      </aside>
    </div>

    <Statistics
      :deaths="deaths"
      :collectedCoins="collectedCoins"
      :killedMonsters="killedMonsters"
      :trophies="trophies" />
  </div>
</template>

<script>
import TrophiesList from "./trophiesList";
import Statistics from "./statistics";
import UserPanel from "./userPanel";
import MonsterPanel from "./monsterPanel";

export default {
  data () {
    return {
      users: [],
      monsters: [],
      usersLoaded: false,
      monstersLoaded: false,
      selectedUser: null
    }
  },

  components: {
    Statistics,
    TrophiesList,
    MonsterPanel,
    UserPanel
  },

  mounted() {
    this.fetchUsers();
    this.fetchMonsters();
  },

  methods: {
    fetchUsers() {
      this.$http.get('/users').then((response) => {
        this.users = response.data.results;
        this.usersLoaded = true;
      });
    },

    fetchMonsters() {
      this.$http.get('/monsters').then((response) => {
        this.monsters = response.data.results;
        this.monstersLoaded = true;
      });
    },

    addUser(username) {
      this.$http.post('/users', {name: username}).then((response) => {
        this.fetchUsers();
      });
    },

    addMonster(monsterName) {
      this.$http.post('/monsters', {name: monsterName}).then((response) => {
        this.fetchMonsters();
      });
    },

    updateCurrentUser() {
      if (!this.selectedUser) return;

      let userId = this.selectedUser.id;

      this.$http
        .get(`/users/${userId}`)
        .then((response) => {
          let updatedUser = response.data.result;
          this.selectedUser = updatedUser;

          this.users = this.users.map(user => {
            if (updatedUser && user.id == userId) {
              return updatedUser;
            }

            return user;
          });
        });
    },

    selectUser(user) {
      this.selectedUser = user;
      this.updateCurrentUser();
    },

    collectCoin: function() {
      if (!this.selectedUser) return;

      let userId = this.selectedUser.id;

      this.$http
        .post(`/users/${userId}/collected_coins`, {collected_coin: {value: 10}})
        .then(this.updateCurrentUser);
    },

    die: function() {
      if (!this.selectedUser) return;

      let userId = this.selectedUser.id;

      this.$http
        .post(`/users/${userId}/deaths`, {timestamp: Date()})
        .then(this.updateCurrentUser);
    },

    killMonster(user, monster) {
      let userId = user.id;
      let monsterId = monster.id;

      this.$http
        .post(`/users/${userId}/killed_monsters`, {
          killed_monster: { monster_id: monsterId }
        })
        .then(this.updateCurrentUser);
    }
  },
  computed: {
    collectedCoins: function() {
      if (!this.selectedUser) return 0;
      return (this.selectedUser.collected_coins_count || 0);
    },

    deaths: function() {
      if (!this.selectedUser) return 0;
      return (this.selectedUser.deaths_count || 0);
    },

    killedMonsters: function() {
      if (!this.selectedUser) return 0;
      return (this.selectedUser.all_killed_monsters_count || 0);
    },

    trophies: function() {
      if (!this.selectedUser) return 0;
      return (this.selectedUser.trophies_count || 0);
    },

    shouldDisplayTrophies: function() {
      if (!this.selectedUser) return false;
      if (!this.selectedUser.trophies) return false;

      return this.selectedUser.trophies.length > 0;
    }
  }
}
</script>

<style lang="scss" scoped>
  .container {
    padding: 1.5em;
  }
</style>
