<template>
  <nav class="panel">
    <p class="panel-heading">Monsters</p>

    <div class="panel-block">
      <div class="field has-addons">
        <input
          v-model="newMonster"
          @keyup.enter="addMonster"
          class="input is-fullwidth"
          type="text"
          placeholder="New monster" />

        <a
          @click="addMonster"
          class="button is-info"
          :disabled="!newMonster">

          Add new monster
        </a>
      </div>
    </div>

    <a
      v-for="monster in monsters"
      :key="monster.id"
      @click="selectMonster(monster)"
      :class="['panel-block', {'is-active': isMonsterSelected(monster)}]">
      {{ monster.name }}
    </a>
    <div class="panel-block">
      <button
        @click="killMonster"
        class="button is-link is-fullwidth id-medium"
        :disabled="!canKillMonsters">
        Kill monster! \o/
      </button>
    </div>
  </nav>
</template>

<script>
export default {
  props: {
    monsters: {
      type: Array,
      default: () => []
    },

    user: {
      type: Object,
      default: () => null
    }
  },

  data() {
    return {
      selectedMonster: null,
      newMonster: "",
    }
  },

  methods: {
    selectMonster(monster) {
      this.selectedMonster = monster;
    },

    isMonsterSelected(monster) {
      if(!this.selectedMonster) return false;
      return this.selectedMonster == monster;
    },

    addMonster() {
      if (!this.newMonster) return;

      this.$emit("addMonster", this.newMonster);
      this.newMonster = "";
    },

    killMonster() {
      if (!this.user) return;
      if (!this.selectedMonster) return;

      this.$emit("killMonster", this.user, this.selectedMonster);
    }
  },

  computed: {
    canKillMonsters() {
      return this.selectedMonster && this.user;
    }
  }
}
</script>

<style lang="scss" scoped>
.panel {
  a.is-active {
    background-color: hsl(171, 100%, 95%);
  }
}
</style>
