<template>
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Collected coins</p>
        <p class="title">{{ collectedCoins }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Deaths</p>
        <p class="title">{{ deaths }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Killed monsters</p>
        <p class="title">{{ killedMonsters }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Trophies</p>
        <p class="title">{{ trophies }}</p>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  props: ['deaths', 'collectedCoins', 'killedMonsters', 'trophies']
}
</script>
