<template>
  <table class="table is-hoverable">
    <thead>
      <th>Name</th>
      <th>Level</th>
    </thead>
    <tbody>
      <tr v-for="trophy in trophies" :key="trophy.id">
        <td>{{ trophy.name }}</td>
        <td>{{ trophy.level }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  props: ['trophies']
}
</script>
