<template>
  <aside class="column is-one-quarter">
    <p class="menu-label">Users</p>
    <ul class="menu-list">
      <li
        v-for="user in users"
        :key="user.id"
        @click="selectUser(user)">

        <a :class="{'is-active': isUserSelected(user)}">
          {{ user.name }}
        </a>
      </li>
    </ul>

    <hr />

    <p class="menu-label">New user</p>
    <div class="field has-addons">
      <div class="control">
        <input
          v-model="newUser"
          @keyup.enter="addUser"
          class="input"
          type="text"
          placeholder="New user" />

      </div>
      <div class="control">
        <a
          @click="addUser"
          class="button is-info"
          :disabled="!newUser">
          Add
        </a>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  props: {
    users: {
      default: []
    }
  },

  data() {
    return {
      selectedUser: null,
      newUser: ""
    }
  },

  methods: {
    addUser() {
      this.$emit("addUser", this.newUser);
      this.newUser = "";
    },
    selectUser(user) {
      this.selectedUser = user;
      this.$emit("selectUser", user);
      console.log("selectUser", user);
    },
    isUserSelected(user) {
      if(!this.selectedUser) return false;
      return this.selectedUser.id == user.id;
    }
  }
}
</script>
