<!DOCTYPE html>
<html>
  <head>
    <title>SmartTrophies</title>
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'app_vue' %>
    <%= javascript_pack_tag 'app_vue' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
